img {
  width: 241px;
  height: 400px;
}

.carousel-inner {
  width: 86%!important;
  margin: 3px 0 0 120px;
}

.carousel {
  width: 50%;
}

.carousel-indicators {
  bottom: -21px!important;
}

.carousel-indicators {
  margin-left: 23%!important;
}

.carousel-indicators [data-bs-target] {
  background-color: red!important;
}

.carousel-control-prev {
  display: none!important;
}

.carousel-control-next {
  display: none!important;
}

.dark__content {
  display: flex;
}

.dark__content_left {
  margin-top: 84px;
  text-align: center;
  margin-left: 8px;

  p {
    color: #FFF;
    margin-bottom: 0!important;
    margin-top: 8px;
  }

  p:first-child {
    font-size: 16px;
    font-weight: 500;
    line-height: 12.8px;
  }

  p:nth-child(2) {
    font-size: 32px;
    font-weight: 500;
    line-height: 25.6px;
  }

  p:nth-child(3) {
    font-size: 11.8px;
    line-height: 37.36px;
    letter-spacing: 1.5px;
  }
  p:nth-child(4) {
    font-size: 11.8px;
    line-height: 2.36px;
    letter-spacing: 1.5px;
  }
  p:nth-child(5) {
    font-size: 11.8px;
    line-height: 41.36px;
    letter-spacing: 1.5px;
  }
  p:nth-child(6) {
    font-size: 11.8px;
    line-height: 2.36px;
    letter-spacing: 1.5px;
  }

  p:nth-child(7) {
    color: #8B8B8B;
    font-size: 18.8px;
    letter-spacing: 1.4px;
    line-height: 47.96px;
    text-decoration-line: line-through;
  }

  p:last-child {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 0.4px;
  }
}

img {
  margin-left: 51px;
}

.dark__content_right {
  margin-left: 20px;

  p:first-child {
    color: #FFF;
    font-size: 20px;
    margin-left: -6px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 67px;
  }

  p:nth-child(2), li {
    margin-top: 18px;
    color: #293775;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  p:nth-child(2) {
    margin-left: -9px;
  }

  li:last-child {
    max-width: 225px;
    line-height: 20px;
  }

  li::marker {
    margin: 0!important;
  }
}

.carousel-indicators .active {
  transform: rotate(360deg);
  transition: 6s!important;
}

.dark__media {
  display: none;
}

//media
@media (max-width: 1770px) {
  .carousel {
    position: relative;
    margin-right: 77px;
  }

  img {
    margin-left: 20px;
  }
}

@media (max-width: 1600px) {
  .carousel-inner {
    width: 93%!important;
  }
}

@media (max-width: 1500px) {
  .dark__content {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }

  .dark__content_right p:first-child {
    margin: 13px 0 54px 0;
  }

  .dark__content_left p:last-child {
    letter-spacing: normal;
  }

  .dark__content_right {
    margin-left: 100px;
  }

  .carousel-inner {
    width: 125%!important;
  }

  .carousel-indicators {
    margin-right: -21%!important;
  }
}

@media (max-width: 1250px) {
  .carousel-inner {
    width: 133%!important;
  }

  .carousel-inner {
    margin: 3px 0 0 80px;
  }
}

@media (max-width: 1220px) {
  .dark__content_right {
    margin-left: 0;
  }

  .carousel-indicators {
    margin-right: -42% !important;
  }
}

@media (max-width: 1050px) {
  .carousel-inner {
    width: 147% !important;
  }

  .carousel-inner {
    margin: 3px 0 0 40px;
  }
}

@media (max-width: 900px) {
  .dark__content_right p:nth-child(2) {
    display: none;
  }

  .carousel-inner {
    margin: 24px 0 0 15px;
    width: 192% !important;
  }

  .dark__content_right li{
    display: none;
  }

  .dark__content_right p:first-child {
    margin: -29px 0 0 0;
  }

  img {
    width: 150px;
    height: 250px;
    margin-top: 70px;
    margin-left: 110px
  }

  .dark__content_left {
    margin-top: 73px;
  }

  .carousel-indicators {
    margin-right: -53% !important;
    margin-bottom: 8px!important;
    margin-left: 62% !important;

  }
}

@media (max-width: 700px) {
  .carousel-indicators [data-bs-target] {
    width: 20px!important;
  }

  .dark__content_right p:first-child {
    margin: -29px 0px 0 -35px;
  }

  img {
    margin-left: 30px;
  }
}


@media (max-width: 600px) {
  .dark__content_right {
    display: none;
  }

  .dark__media {
    display: block;
  }

  .dark__content_img {
    display: none;
  }

  img {
    margin-top: 55px;
    margin-right: 140px;
  }

  .dark__media p {
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: -31px;
    margin-left: 67px;
  }

  .carousel-indicators {
    margin-left: 99% !important;
  }
}

@media (max-width: 563px) {
  .dark__media p {
    margin-top: -51px;
    margin-left: 78px;
  }

  .dark__content_left {
    margin-top: 44px;
  }

  .carousel-indicators {
    margin-left: 86% !important;
  }
}

@media (max-width: 500px)  {
  .dark__media p {
    font-size: 12px;
    margin-top: -44px;
  }

  .carousel-indicators {
    margin-right: -99% !important;
  }
}


@media (max-width: 437px)  {
  .dark__media p {
    margin-top: -68px;
  }

  .dark__content_left {
    margin-top: 20px;
  }
}

@media (max-width: 397px) {
  .dark__media p {
    margin-top: -91px;
    margin-left: 20px;
  }

  .dark__content_left {
    margin-top: 0;
  }

  .carousel-indicators [data-bs-target] {
    width: 15px !important;
  }

  img {
    margin-left: 0px;
  }

  .carousel-indicators {
    margin-left: 107% !important;
  }
}

@media (max-width: 362px) {
  .dark__media p {
    margin-left: 0;
  }
}

@media (max-width: 329px) {
  .dark__media p {
    margin-left: -14px;
  }

  .dark__content_left {
    margin-left: 0;
  }

  img {
    margin-left: -10px;
  }

  .carousel-indicators [data-bs-target] {
    width: 12px !important;
  }

  .carousel-indicators {
    margin-left: 117% !important;
  }
}

